/*background: radial-gradient(rgb(194,74,126),rgb(105,86,235)
/*background: linear-gradient(
117deg,rgb(96,87,246),rgb(216,71,99))
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
}

nav {
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: linear-gradient( 117deg, rgb(96, 87, 246), rgb(216, 71, 99));
}

h1 {
    font-size: 40px;
    color: white;
    font-weight: 600;
}

p {
    color: white;
    font-weight: 100;
}

.flexible-container {
    display: flex;
}

.menu {
    list-style-type: none;
}

.menu li {
    float: left;
    padding: 10px 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: 0.5s all ease;
}

.menu li a:hover {
    color: blue;
}

.menu-button {
    background-color: #0ABCEB;
    padding: 14px 30px;
    border-radius: 20px;
    transition: 0.5s all ease;
    font-weight: 200;
}

.menu-button:hover {
    background-color: #58D5F7;
    padding: 18px 35px;
    border-radius: 40px;
    font-weight: 500;
    color: white;
}

.bg-img {
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: linear-gradient( 117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    padding: 100px 20px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.section-img {
    transform: rotate(-8deg);
}

.section-img img {
    border: 15px solid white;
    border-radius: 5%;
}

.link-button {
    text-decoration: none;
    background-color: #0ABCEB;
    padding: 14px 30px;
    border-radius: 20px;
    transition: 0.5s all ease;
    font-weight: 200;
}

.link-button:hover {
    background-color: #58D5F7;
    padding: 18px 35px;
    border-radius: 40px;
    font-weight: 500;
    color: white;
}