/*background: radial-gradient(rgb(194,74,126),rgb(105,86,235)
/*background: linear-gradient(
117deg,rgb(96,87,246),rgb(216,71,99))
*/

* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: linear-gradient( 117deg, rgb(96, 87, 246), rgb(216, 71, 99));
}

h1 {
    font-size: 40px;
    color: white;
    font-weight: 200;
}

h4 {
    color: white;
    font-weight: 300;
    font-size: 16px;
}

p {
    color: white;
    font-weight: 100;
}

.flexible-container {
    display: flex;
}

.menu {
    list-style-type: none;
}

.menu li {
    float: left;
    padding: 25px 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: 0.5s all ease;
}

.menu li a:hover {
    color: blue;
}

.menu-button {
    background-color: #0ABCEB;
    padding: 14px 30px;
    border-radius: 20px;
    transition: 0.5s all ease;
    font-weight: 200;
}

.menu-button:hover {
    background-color: #58D5F7;
    padding: 18px 35px;
    border-radius: 40px;
    font-weight: 500;
    color: white;
}

.bg-img {
    background: radial-gradient(rgb(194, 74, 126), rgb(105, 86, 235));
    background: linear-gradient( 117deg, rgb(96, 87, 246), rgb(216, 71, 99));
    padding: 100px 20px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width h1 {
    margin-bottom: 18px;
}

.half-width p {
    margin-bottom: 18px;
    padding: 20px 0;
}

.section-img {
    transform: rotate(-8deg);
}

.section-img img {
    border: 15px solid white;
    border-radius: 5%;
}

.link-button {
    text-decoration: none;
    background-color: #0ABCEB;
    padding: 14px 30px;
    border-radius: 20px;
    transition: 0.5s all ease;
    font-weight: 200;
}

.link-button:hover {
    background-color: #58D5F7;
    padding: 18px 35px;
    border-radius: 40px;
    font-weight: 500;
    color: white;
}

.feature-section {
    background-color: black;
    padding: 50px;
}

.feature-section h1 {
    text-align: center;
    margin-top: 40px;
    font-weight: 200;
}

.feature-section h4 {
    text-align: center;
    padding: 18px 0;
}

.feature-content {
    padding: 20px 0;
}

.width-feature-content {
    width: 30%;
    padding: 5% 8%;
}

.width-feature-content img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 2px 0px 18px white;
}

.width-feature-content p {
    text-align: center;
    font-weight: 100;
}

.bg-logos {
    background-color: #F9FAFA;
    padding: 20px 0 20px 250px;
}

.bg-logos img {
    align-items: center;
}

.imac {
    width: 80%;
}

.content-two {
    padding: 5% 5%;
}

.content-two-div {
    padding-top: 5px;
    padding-left: 0;
}

.pricing-section {
    background-color: #F8F9F9;
    padding: 5%;
}

.pricing-section h2 {
    font-size: 20px;
    font-weight: 300;
    color: #7f7f81;
    text-align: center;
}

.pricing-section h3 {
    font-size: 15px;
    font-weight: 200;
    color: #7f7f81;
    text-align: center;
}

.pricing-width {
    width: 20%;
    padding: 40px 100px;
}

.pricing-width h1 {
    text-align: center;
}

.pricing-width h2 {
    text-align: center;
}

.pricing-width h6 {
    text-align: center;
}

.pricing-width p {
    text-align: center;
    ;
}

.margin-top {
    margin-top: 100px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.pricing-button {
    text-decoration: none;
    margin: 0 20%;
    background: #0ABCEB;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    transition: 0.5s all ease;
}

.pricing-button:hover {
    border-radius: 25px;
    box-shadow: 2px 2px 5px cyan;
}

.box-shadow-design {
    box-shadow: 0px 0px 12px -5px black;
}

.team-content {
    padding: 25px 0;
}

.team-width {
    width: 30%;
    padding: 5%;
}

.team-width img {
    width: 50%;
    padding-left: 25%;
}

.team-width h1,
h4,
p {
    color: rgb(133, 133, 133);
    text-align: center;
}

.team-width h1 {
    font-size: 20px;
}

.team-width h4 {
    color: black;
    font-weight: 500;
    line-height: 30px;
}

.team-width p {
    line-height: 40px;
}

.email-section-bg {
    background-color: #047fa1;
    padding: 30px;
}

.email-section-bg h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 28px;
}

.email-section-bg p {
    color: white;
    font-weight: 200;
    font-size: 15px;
}

.input {
    margin-left: 35%;
    margin-top: 2%;
    border: 0;
    padding: 15px 20px;
    border-radius: 20px;
}

.email-button {
    background-color: #25F18B;
    padding: 15px 20px;
}

.email-button:hover {
    background-color: #25F18B;
    padding: 18px 22px;
}

.footer {
    background-color: #464646;
    padding: 30px;
    margin-bottom: 150px;
}

.footer p {
    text-align: center;
    color: rgb(219, 218, 218);
}